:root {
  --bg-color: #007de8;
  --white: #fff;
  --precision-color: #cebca1;
  --input-color: #bf7500;
}

body {
  background-color: var(--bg-color);
}

.container {
  padding-top: 7.5rem;
}

.converted-value {
  color: var(--white);
}

.conversion-precision {
  color: var(--precision-color);
}

.form-select,
.form-control {
  color: var(--input-color);
  border: 1px solid var(--input-color);
}
